/* ==========================================================================
   Custom styles
   ========================================================================== */

   @font-face {
    font-family: NewtSerif;
    src: url(../fonts/NewtSerif.otf);
}

@font-face {
    font-family: NewtSerifLight;
    src: url(../fonts/NewtSerifLight.otf);
}

@font-face {
    font-family: NewtSerifLight-Italic;
    src: url(../fonts/NewtSerifLight-Italic.otf);
}

@font-face {
    font-family: NewtSerifDemi;
    src: url(../fonts/NewtSerifDemi.otf);
}

@font-face {
    font-family: NewtSerifBold;
    src: url(../fonts/NewtSerifBold.otf);
}

@font-face {
    font-family: EncodeSans-Regular;
    src: url(../fonts/EncodeSans-Regular.ttf);
}

@font-face {
    font-family: EncodeSans-Light;
    src: url(../fonts/EncodeSans-Light.ttf);
}

@font-face {
    font-family: EncodeSansWide-Light;
    src: url(../fonts/EncodeSansWide-Light.ttf);
}

@font-face {
    font-family: EncodeSans-ExtraLight;
    src: url(../fonts/EncodeSans-ExtraLight.ttf);
}

@font-face {
    font-family: EncodeSansWide-ExtraLight;
    src: url(../fonts/EncodeSansWide-ExtraLight.ttf);
}

@font-face {
    font-family: EncodeSans-Thin;
    src: url(../fonts/EncodeSans-Thin.ttf);
}

.navbar-brand {
    text-transform: lowercase;
}

.masthead {
    background-position: top center;
}

.masthead > div > a {
    text-decoration: none;
}

.masthead > div > a > i {
    color: black;
}

.masthead > div > a > img {
    vertical-align: text-bottom;
}

.icon {
    background: black;
    mask-size: cover;
}

.icon:hover, .icon:focus {
    background: #155d74;
}

.icon-text:hover, .icon-text:focus {
    color: #155d74;
}

h1 {
    font-family: "NewtSerifDemi";
}

h2, .h2 {
    font-family: "NewtSerif";
}

h3 {
    font-family: "NewtSerifLight";
    font-weight: normal;
}

body {
    font-family: "EncodeSansWide-ExtraLight";
    color: #262B20;
    position: relative;
}
.masthead h1 {
    font-size: 5.0rem;
    text-transform: lowercase;
  }

div.content-section-heading > h2.mb-5, div.content-section-heading > h3.text-secondary {
    margin-bottom: .5rem !important;
}

.btn-logo {
    background-color: inherit !important;
    border-color: inherit !important;
}

.portfolio-item:hover .caption {
    background-color: #74A785 ;
}

.portfolio-item .caption .caption-content {
    background-color: rgb(0, 0, 0, 40%) ;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=72W0u0k2uKA00++0BUD5wzz9QsC */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #CBDCD1 }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #EDF1EE }
.color-primary-3 { color: #A1C2AC }
.color-primary-4 { color: #74A785 }

.color-secondary-1-0 { color: #BFCACE }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #E8EBEC }
.color-secondary-1-3 { color: #8EA3AA }
.color-secondary-1-4 { color: #64848E }

.color-secondary-2-0 { color: #FFF5EB }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FFFDFA }
.color-secondary-2-3 { color: #FFEAD3 }
.color-secondary-2-4 { color: #E4C29E }

.color-complement-0 { color: #FFEEEB }	/* Main Complement color */
.color-complement-1 { color: #FFFFFF }
.color-complement-2 { color: #FFFBFA }
.color-complement-3 { color: #FFDAD3 }
.color-complement-4 { color: #E4A99E }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(203,220,209,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,255,255,1) }
.rgba-primary-2 { color: rgba(237,241,238,1) }
.rgba-primary-3 { color: rgba(161,194,172,1) }
.rgba-primary-4 { color: rgba(116,167,133,1) }

.rgba-secondary-1-0 { color: rgba(191,202,206,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,255,255,1) }
.rgba-secondary-1-2 { color: rgba(232,235,236,1) }
.rgba-secondary-1-3 { color: rgba(142,163,170,1) }
.rgba-secondary-1-4 { color: rgba(100,132,142,1) }

.rgba-secondary-2-0 { color: rgba(255,245,235,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,255,255,1) }
.rgba-secondary-2-2 { color: rgba(255,253,250,1) }
.rgba-secondary-2-3 { color: rgba(255,234,211,1) }
.rgba-secondary-2-4 { color: rgba(228,194,158,1) }

.rgba-complement-0 { color: rgba(255,238,235,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(255,255,255,1) }
.rgba-complement-2 { color: rgba(255,251,250,1) }
.rgba-complement-3 { color: rgba(255,218,211,1) }
.rgba-complement-4 { color: rgba(228,169,158,1) }



/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */