/* ==========================================================================
   Custom styles
   ========================================================================== */

   @font-face {
    font-family: NewtSerif;
    src: url(../fonts/NewtSerif.otf);
}

@font-face {
    font-family: NewtSerifLight;
    src: url(../fonts/NewtSerifLight.otf);
}

@font-face {
    font-family: NewtSerifLight-Italic;
    src: url(../fonts/NewtSerifLight-Italic.otf);
}

@font-face {
    font-family: NewtSerifDemi;
    src: url(../fonts/NewtSerifDemi.otf);
}

@font-face {
    font-family: NewtSerifBold;
    src: url(../fonts/NewtSerifBold.otf);
}

@font-face {
    font-family: EncodeSans-Regular;
    src: url(../fonts/EncodeSans-Regular.ttf);
}

@font-face {
    font-family: EncodeSans-Light;
    src: url(../fonts/EncodeSans-Light.ttf);
}

@font-face {
    font-family: EncodeSansWide-Light;
    src: url(../fonts/EncodeSansWide-Light.ttf);
}

@font-face {
    font-family: EncodeSans-ExtraLight;
    src: url(../fonts/EncodeSans-ExtraLight.ttf);
}

@font-face {
    font-family: EncodeSansWide-ExtraLight;
    src: url(../fonts/EncodeSansWide-ExtraLight.ttf);
}

@font-face {
    font-family: EncodeSans-Thin;
    src: url(../fonts/EncodeSans-Thin.ttf);
}

.navbar-brand {
    text-transform: lowercase;
}

.masthead {
    background-position: top center;
}

h1 {
    font-family: "NewtSerifDemi";
}

h2 {
    font-family: "NewtSerif";
}

h3 {
    font-family: "NewtSerifLight";
    font-weight: normal;
}

body {
    font-family: "EncodeSansWide-ExtraLight";
    color: #262B20;
    position: relative;
}
.masthead h1 {
    font-size: 5.0rem;
    text-transform: lowercase;
  }

div.content-section-heading > h2.mb-5, div.content-section-heading > h3.text-secondary {
    margin-bottom: .5rem !important;
}