/* Banner */

#banner {
    
    &:after {
        opacity: 0.5;
    }

    h1 {
        font-size: 3.25em;
    }

    > .inner {
        
        header {

            > :first-child {

                &:after {
                    max-width: 60%;
                }
            }
        }
    }
}
