/* Banner */

#banner {
    
    background-position: center center; // main.js appears to be modifying this on scroll

    &:after {
        opacity: 0.8;
    }

    > .inner {
        
        header {

            > :first-child {

                &:after {
                    max-width: 60%;
                }
            }
        }
    }
}
