---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% comment %}Auto-detect image URLs from page body (img src, CSS url(), caption_only buttons){% endcomment %}
      {% assign _auto_imgs = content | extract_image_urls %}
      {% comment %}cover-img is rendered by header.html (not in content), so add it explicitly{% endcomment %}
      {% if page['cover-img'] %}
        {% if page['cover-img'].first %}
          {% assign _auto_imgs = page['cover-img'] | concat: _auto_imgs %}
        {% else %}
          {% assign _cover_arr = page['cover-img'] | split: "|" %}
          {% assign _auto_imgs = _cover_arr | concat: _auto_imgs %}
        {% endif %}
      {% endif %}
      {% include image-credits-list.html images=_auto_imgs %}

      {% include comments.html %}
    </div>
  </div>
</main>
